<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head
  th:replace="head :: head_fragment(title = '商品新規登録', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="container">
    <div th:if="${validationError}" th:each="error : ${validationError}">
      <label class="text-danger" th:text="${error}"></label>
    </div>
    <h1>商品新規登録</h1>
    <form th:action="@{/product/update}" th:object="${productRequest}" th:method="post">
	  <input type="hidden" th:field="*{id}" />
      <div class="form-group">
        <label>名前：<span class="text-danger">※</span></label>
        <input type="text" th:field="*{name}" class="form-control">
      </div>
      <div class="form-group">
        <label>値段：</label>
        <input type="text" th:field="*{price}" class="form-control">
      </div>
      <br />
      <div class="text-center">
        <a href="/product/list" class="btn btn-secondary">キャンセル</a>
        <input type="submit" value="　登録　" class="btn btn-primary">
      </div>
    </form>
  </div>
</body>
</html>